.links-container {
  display: flex;
  flex-direction: row;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(58, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px 0px;
  height: 20px;
  align-items: center;
}

.links-container > li {
  list-style-type: none;
  height: 100%;
  color: white;
  padding: 0 20px;
}

.links-container > li > a {
  color: white;
  text-decoration: none;
  height: 100%;
}

.links-container > li > a:hover {
  background-color: black;
  color: white;
}
